{% extends 'main.html' %}
{% block title %}
<!-- Your Title herer-->
<title>AI Blog Generator</title>
{% endblock title %}



{% block content %}

<!-- Your content here -->

<!-- Main Content Container -->
<div class="container mx-auto mt-10 px-4 sm:px-0">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

        <!-- Blog posts section -->
        <section>
            <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
            <div class="space-y-4">

                {% for article in blog_articles reversed %}
                <a href="blog-details/{{article.id}}">
                    <div class="border border-gray-300 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                        <p>{{article.generated_content|truncatechars:80}}</p>
                    </div>
                </a>
                {% endfor %}

                <!-- Repeat -->
            </div>
        </section>

    </div>
</div>
{% endblock content %}