{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <!-- Your Title herer-->
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Static stylesheet/css included here-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    

</head>
<body class="flex flex-col min-h-scrren bg-gray-100 font-sans antialised">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <br>
    {% block content %}
    
    <!-- Your content here -->
    
    {% endblock content %}
    <!-- Include any custom JS files here -->
    <script src="{% static 'app.js' %}"></script>
    <footer class="text-center p-4 text-black mt-6">
        &copy; Shree Krishna Yadav
    </footer>
</body>
</html>